<header style="width:100%; height:600px; background:url(<%= asset_path "top_image.jpg" %>); background-size:cover; ">
  <div class="header_contents">
    <h1><a href="/">Shop Finder</a></h1>
    <p>ジャンルで絞る</p>
  </div>
</header>

<main id="main">
  <% @shops.each do |shop| %>
  <a href="/shops/<%= shop.id %>">
    <h2>
      <%= shop.shop_name %>
    </h2>
    <div>
      <%= shop.genre %>
    </div>
    <div>
      <%= shop.sales_copy %>
    </div>
    <div style="background-image: url(<%= shop.main_image %>); width: 400px; height: 300px;">
    </div>
    <hr>
  </a>
  <% end %>
</main>

